{% extends 'base.html' %}
{% block title %} Customer Rate History {% endblock %}
{% block content %}


<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Customer Rate History</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-30">Client Management</a></li>
        <li class="breadcrumb-item active" aria-current="page">Customer Rate History</li>
    </ol>
</div>
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                             Customer Rate History
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row m-0">
                            <div class="col-xl-12">
                                <div class="card custom-card m-0 p-0">
                                    <div class="card-body row g-3 pt-0" style="background-color: antiquewhite;">
                                        <div class="col-md-4">
                                            <div class="form-group required">
                                                <label class='control-label'>Customer Name</label>
                                                <input type="text" class="form-control" disabled value="{{customer_instance.customer_name}}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group required">
                                                <label class='control-label'>Building Name</label>
                                                <input type="text" class="form-control" disabled value="{{customer_instance.building_name}}">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group required">
                                                <label class='control-label'>Route</label>
                                                <input type="text" class="form-control" disabled value="{{customer_instance.routes.route_name}}">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group required">
                                                <label class='control-label'>Current Rate</label>
                                                <input type="text" class="form-control" disabled value="{{customer_instance.rate}}">
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="table-container" style="overflow:scroll;">
                        <div class="card-body">
                            <table class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th style="text-align:center; !important width:5%;" scope="col">Sl.No</th>
                                        <th style="text-align:left; !important" scope="col">Created Date</th>
                                        <th style="text-align:left; !important" scope="col">Created By</th>
                                        <th style="text-align:center; !important" scope="col">Old Rate</th>
                                        <th style="text-align:center; !important" scope="col">New Rate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for customer_rate_instance in customer_rate_instances %}
                                        <tr>
                                            <td style="text-align:right;">{{ forloop.counter }}</td>
                                            <td style="text-align:left;">{{ customer_rate_instance.created_date|date:"d-m-Y" }}</td>
                                            <td style="text-align:left;">{{ customer_rate_instance.created_by }}</td>
                                            <td style="text-align:left;">{{ customer_rate_instance.old_price }}</td>
                                            <td style="text-align:left;">{{ customer_rate_instance.new_price }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Start:: row-1 -->
        <div class="row">
            <div class="col-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Change Rate
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="." role="form" method="post" enctype="multipart/form-data"  class="row g-3 ajax redirect" autocomplete="off" novalidate>
                            {% csrf_token %}
                            {{ new_rate_form.as_p }}
                            <button type="submit"  class="btn btn-primary">Update Rate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
