{% extends 'base.html' %}
{% block title %}Inactive Customers List{% endblock %}
{% block content %}
{% load accounts_templatetags %}
{% load static %}

<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between">
    <h4 class="fw-medium mb-0">Inactive Customers</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Client Management</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inactive Customer</li>
    </ol>
</div>

<div class="main-content app-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">Inactive Customers</div>
                    </div>

                    <div class="card-body">
                        <div style="float:right;padding:10px 0px">
                            <form method="GET">
                                <div class="input-group">
                                    <input type="date" name="from_date" class="form-control" value="{{ filter_data.from_date }}">
                                    <input type="date" name="to_date" class="form-control" value="{{ filter_data.to_date }}">
                                    <select name="route_name" class="form-select">
                                        <option value="">All Routes</option>
                                        {% for route in routes_instances %}
                                            <option value="{{ route.route_name }}" {% if route.route_name == filter_data.route_name %}selected{% endif %}>
                                                {{ route.route_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <input type="text" name="q" class="form-control" placeholder="Search ..." value="{{ q }}">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-search"></i> Search
                                    </button>
                                </div>
                            </form>
                        </div>
                        <table class="table table-bordered text-nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="text-align:center;width:5%;" scope="col">Sl.No</th>
                                    <th style="text-align:center;" scope="col">Customer ID</th>
                                    <th style="text-align:center;" scope="col">Customer Name</th>
                                    <th style="text-align:center;" scope="col">Route</th>
                                    <th style="text-align:center;" scope="col">Building Name/<br>House No</th>
                                    <th style="text-align:center;" scope="col">Next Visit <br>Date</th>
                                    <th style="text-align:center;" scope="col">Bottle Stock</th>
                                    <th style="text-align:center;" scope="col">Sales Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for customer in inactive_customers %}
                                    <tr>
                                        <td style="text-align:center;">{{ forloop.counter }}</td>
                                        <td style="text-align:left;">{{ customer.custom_id }}</td>
                                        <td style="text-align:left;">
                                            <a href="{% url 'customer_complaint' customer.pk %}" aria-label="anchor">{{ customer.customer_name }}</a>
                                        </td>
                                        <td style="text-align:left;">{{ customer.routes.route_name }}</td>
                                        <td style="text-align:left;">{{ customer.building_name }},<br> {{ customer.door_house_no }}</td>
                                        {% get_next_visit_day customer.pk as next_visit_date %}
                                        <td style="text-align:left;">{{ next_visit_date }}</td>
                                        {% bottle_stock customer.pk as total_bottle_count %}
                                        <td style="text-align:left;">{{ total_bottle_count }}</td>
                                        <td style="text-align:left;">{{ customer.sales_type }}</td>
                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
