{% extends 'base.html' %}
{% block content %}
{% load purchase_template_tags %}
<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between">
    <h4 class="fw-medium mb-0">Product Targets</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Product Management</a></li>
        <li class="breadcrumb-item active" aria-current="page">Product Targets</li>
    </ol>
</div>
<!-- Page Header Close -->

<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="card-title">🎯 Product Target List</div>
                        <div class="ms-auto">
                            <a href="{% url 'product_target_create' %}">
                                <button type="button" class="btn btn-success btn-wave text-end d-flex me-4 my-auto">
                                    <i class="bi bi-plus-circle me-1"></i>Create
                                </button>
                            </a>
                        </div>
                    </div>

                    <div class="card-body">

                        <!-- Filters (if any) -->
                        <h3>Product Target List - {{ month }}</h3>

                        <form method="get" class="mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Select Month</label>
                                    <input type="month" name="month" value="{{ month }}" class="form-control" required>
                                </div>
                                <div class="col-md-2 mt-2">
                                    <button class="btn btn-primary mt-2">Load</button>
                                </div>
                            </div>
                           
                        </form>
                        
                        {% if month %}

                        <!-- Horizontal Scroll Container -->
                        <div class="w-100 overflow-auto">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sl No</th>
                                        <th>Route Name</th>
                                        {% for p in products %}
                                            <th>{{ p.product_name }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                            
                                <tbody>
                                    {% for route in routes %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ route.route_name }}</td>
                            
                                        {% for p in products %}
                                            <td>{{ matrix|get_item:route.route_id|get_item:p.id }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
