{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- End::app-sidebar -->
<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Eligible Customers</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Eligible Customers</li>
    </ol>
</div>
<!-- Page Header Close -->
<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Eligible Customers
                        </div>

                        {% comment %} <div class="ms-auto">
                            <a href="{% url 'customer_supply_customers' %}">
                            <button type="button" class="btn btn-success btn-wave text-end d-flex me-4 my-auto"><i class="bi bi-plus-circle me-1"></i>Create</button>
                        </a>
                        </div> {% endcomment %}
                    </div>
                    <div class="mt">
                        <form method="GET">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <label for="start_date">From Date:</label>
                                        <input type="date" class="form-control" id="start_date" name="start_date" value="{{ filter_data.start_date|date:'Y-m-d' }}">
                                    </div>
                                    <div class="col">
                                        <label for="end_date">To Date:</label>
                                        <input type="date" class="form-control" id="end_date" name="end_date" value="{{ filter_data.end_date|date:'Y-m-d' }}">
                                    </div>
                                    
                                    <div class="col">
                                        <label for="route_name">Routes:</label>
                                        <select name="route_name" class="form-select">
                                            <option value="">All Routes</option>
                                            {% for route in routes %}
                                                <option value="{{ route.route_name }}"  {% if route.route_name == filter_data.route_name %}selected{% endif %}>{{ route.route_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="route_name">Search:</label>
                                        <input type="text" name="q" class="form-control" placeholder="Search ..." value="{{ filter_data.q }}">
                                    </div>
                                    <div class="col d-flex align-items-end justify-content-end">
                                        <input type="submit" class="btn btn-primary btn-sm mx-1" value="Apply Filter">
                                        <button type="button" class="btn btn-secondary btn-sm mx-1" onclick="resetFilters()" style="width:max-content">Reset Filter</button>
                                    </div>
                                </div>
                            </div>
                        </form> 
                    </div>
                    <div class="card-body" style="overflow: auto;">
                        <table class="table table-bordered text-nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Customer Code</th>
                                    <th>Customer Name</th>
                                    <th>Route</th>
                                    <th>Mobile No</th>
                                    <th>Total Quantity</th>
                                    <th>Eligibility</th>
                                    <th>Short By</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% load el_pagination_tags %}
                                {% paginate 20 instances %}
                                {% for data in instances %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ data.custom_id }}</td>
                                    <td>{{ data.customer_name }}</td>
                                    <td>{{ data.routes.route_name }}</td>
                                    <td>{{ data.mobile_no }}</td>
                                    <td>
                                        {% for category, qty in data.short_by.items %}
                                            {{ category }}: {{ qty }}<br>
                                        {% endfor %}
                                    </td>
                                    <td>{% if data.is_eligible %}Eligible{% else %}Not Eligible{% endif %}</td>
                                    <td>
                                        {% for item, shortage in data.short_by.items %}
                                            {{ item }}: {{ shortage }}<br>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% get_pages %}
                    <div class="clearfix"></div>
                    <div class="row pagi my-3">
                        <div class="col-sm-6 col-xs-6 tot my-pagination">
                            <div class="m-t-10 text-start">
                                Showing {{title}}
                                <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                class="total_count">{{ pages.total_count }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6 text-end pagination-btn-div">{% show_pages %}</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End:: row-2 -->
    </div>
</div>
{% endblock %}
